<div class="form-group">
      <label class="control-label col-md-3" for="serviceName">First Name:</label>
      <div class="col-md-4">
      	{{member.FirstName}}
      </div>
</div>
<div class="form-group">
      <label class="control-label col-md-3" for="serviceName">Last Name:</label>
      <div class="col-md-4">
      	{{member.LastName}}
      </div>
</div>
<div class="form-group">
      <label class="control-label col-md-3" for="serviceName">Address:</label>
      <div class="col-md-4">
      	{{member.Address}}
      </div>
</div>
<div class="form-group">
      <label class="control-label col-md-3" for="serviceName">Email:</label>
      <div class="col-md-4">
      	{{member.EmailAddress}}
      </div>
</div>
<div class="form-group">
      <label class="control-label col-md-3" for="serviceName">Phone:</label>
      <div class="col-md-4">
      	{{member.Phone}}
      </div>
</div>	
